body {
    display: flex;
    height: 100vh;
    margin: 0;
    background: rgb(200,203,212);
    background: linear-gradient(189deg, rgba(200,203,212,1) 25%, rgba(211,211,219,1) 35%, rgb(227,226,230) 75%, rgba(224,226,229,1) 100%);
}
.image {
    background-color: antiquewhite;
    min-width: 400px;
    flex-basis: max(40%, 400px);
    background-image: url(images/vadim-bogulov-I_YfFQOL67c-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.right-side > * {
        padding-left: 20px;
}

.form {
    background-color: white;
    box-shadow: 2px 0px 4px 0px 10px rgb(0 0 0 / 0.2);
    padding-bottom: 30px;
    padding-top: 20px;
}

.form label {
    color: rgb(0, 0, 0);
}

.form input {
    display: block;
    padding: 7px;
    font-size: 12px;
    border-width: 2px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: hidden;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

.form input:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgb(0, 0, 255);
}

/* Apply black border by default */
.form input {
    box-shadow: 0px 0px 5px black;
  }
  
  /* Apply green border when input is valid */
  .form input:valid {
    box-shadow: 0px 0px 5px green;
  }
  
  /* Apply red border when input is invalid after user interaction */
  .form input:invalid:not(:placeholder-shown) {
    box-shadow: 0px 0px 5px red;
  }

form > div {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

form > div > div {
    display: flex;
    gap: 100px;

}

#submitB {
    border-color: #d7aa51;
    box-shadow: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 15px;
    padding: 15px;
    background: #d7aa51;
    text-decoration: none;
  }
  
  #submitB:hover {
    background: #67524c;
    text-decoration: none;
  }





























/* .form {
    flex-basis: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
} */

/* form {
    border: 5px solid black;
    margin-left: 10%;
    width: 70%;
    height: 75%;
    min-width: 400px;
    flex-basis: max(70%, 400px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/* 
form > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: auto;
} */


/* form > div > div {
    display: flex;
    min-width: 50%;
    justify-content: space-around;
}

div > label {
    display: inline-block;
    width: 100px;
} */ 