body {
    background-color: rgb(129, 125, 125);
}

h1 {
    text-align: center;
}

#box {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.controls p {
    text-align: center;
    font-weight: bold;
    margin: 0;
}

#myRange {
    display: flex;
}

#container {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    width: 500px;
    height: 500px;
}

.row {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.square {
    background-color: white;
    display: flex;
    flex: auto;
}


  #colorPicker {
    /* Adjust the width and height as needed */
    width: 130px;
    height: 130px;
    /* Customize the appearance */
    padding: 0;
    border: none; /* Remove the border */
    background: transparent;
    /* Make it a circle */
    border-radius: 50%;
    /* Optional: add box-shadow or other styles as desired */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  
  #colorPicker::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 50%;
  }
  
  #colorPicker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
  }