body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 0 200px;
}

.header .header-content-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
}
.header-content-top ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    gap: 20px;
}
.header-content-top ul li a {
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    font-weight: 400;
    color: #e5e7eb;
}

.header-content-bottom {
    display: flex;
    justify-content: space-between;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-side .main-content h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.right-side .main-content p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.right-side .main-content button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 15px;
    border-radius: 7px;
}


img {
    height: 200px;
    width: 200px;
}

.main-content-top {
    padding: 0 200px;
}

.main-content-top h2{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.main-content-top .cards {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    flex-wrap: wrap;
}

.main-content-top .cards img {
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.main-content-middle {
    background-color: #e5e7eb;
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-content-middle h2 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.main-content-middle p {
    align-self: self-end;
    font-weight: bold;
}

.main-content-bottom {
    padding: 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-card {
    background-color: #3882f6;
    display: flex;
    flex: auto;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin: 75px 0;
}

.contact-text {
    color: #f9faf8;
    padding: 10px 0;
}

.contact-text p {
    margin-top: 0;
}

.contact-text h3 {
    margin-bottom: 0;
}

footer {
    background-color: #1F2937;
    color: #e5e7eb;
    text-align: center;
}

